<h1>Admin#pharmacist_index</h1>
<p>Find me in app/views/admin/pharmacist_index.html.erb</p>
<table rules = "all">
    <thead>
		<th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </thead>
    <tbody>
<% @pharmacists.each do |pharmacist| %>
    <tr>
		<td><%= pharmacist.name_first[0] + pharmacist.name_last[0] + pharmacist.id.to_s %></td>
        <td><%= pharmacist.name_first %></td>
        <td><%= pharmacist.name_last%></td>
        <% if @valid == true %>
        <td><%= link_to "Delete", {:controller => "pharmacist", :action => "delete", :id => pharmacist.id} %></td>
        <td><%= link_to "Edit", {:controller => "pharmacist", :action => "edit", :id => pharmacist.id} %></td>
        <% end %>
    </tr>
<% end %>
    </tbody>
</table>
<br>
<% if @valid == true %>
<a href="/pharmacist/register">Add Pharmacist</a>
<% end %>
<br><br>
<a href= "<%= @main_route %>">Main Menu</a>