<h1>labstaff#index</h1>
<p>Find me in app/views/labstaff/index.html.erb</p>
<table>
    <thead>
		<th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </thead>
    <tbody>
<% @labstaffs.each do |labstaff| %>
    <tr>
		<td><%= labstaff.id %></td>
        <td><%= labstaff.name_first %></td>
        <td><%= labstaff.name_last%></td>
        <% if @valid == true %>
        <td><%= link_to "Delete", {:controller => "labstaff", :action => "delete", :id => labstaff.id} %></td>
        <td><%= link_to "Edit", {:controller => "labstaff", :action => "edit", :id => labstaff.id} %></td>
        <% end %>
    </tr>
<% end %>
    </tbody>
</table>
<% if @valid == true %>
<a href="/labstaff/register">Add Lab Staff</a>
<% end %>
<a href= "<%= @main_route %>">Back</a>