<div class="container entry-content">
  <div class="row">
    <div class="col-md-12 page-header">
      <h1>labstaff#index</h1>
      <p>Find me in app/views/labstaff/index.html.erb</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table rules = "all" class="table table-striped table-bordered patient-table">
        <thead>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
        </thead>
        <tbody>
          <% @labstaffs.each do |labstaff| %>
            <tr>
              <td><%= labstaff.name_first[0] + labstaff.name_last[0] + labstaff.id.to_s %></td>
              <td><%= labstaff.name_first %></td>
              <td><%= labstaff.name_last%></td>
              <% if @valid == true %>
                  <td class="last-col"><%= link_to "Delete", {:controller => "labstaff", :action => "delete", :id => labstaff.id},{:class=>'btn btn-danger'} %></td>
                  <td class="last-col"><%= link_to "Edit", {:controller => "labstaff", :action => "edit", :id => labstaff.id},{:class=>'btn btn-info'} %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% if @valid == true %>
      <p><a class="btn btn-primary" href="/labstaff/register">Add Lab Staff</a></p>
      <% end %>
      <p><a class="btn btn-info" href= "<%= @main_route %>">Main Menu</a></p>
    </div>
  </div>
</div>
