<h1>Condition#edit</h1>
<p>Find me in app/views/condition/edit.html.erb</p>
<%= form_tag(:action => 'edit_submit', :condition_id => params[:condition_id]) do %>
<p>Condition:</br><%= text_field_tag(:condition, @editCondition[:condition], :required => true) %></p>
<% if @show_doctors_notes == true %>
<p>Notes: </br><%= text_area("", :notes, :value => @editCondition[:notes], cols: 60, rows: 40) %><p>
<% end %>
<%= submit_tag("Save Changes")%>
<% end %>
<br>
<%= link_to "Delete This Condition", {:controller => "condition", :action => "delete", :condition_id => params[:condition_id]} %>