<h1>Report: Patient Registration/Admission Dates</h1>
<table rules = "all">
    <thead>
		<th>Month Registered</th>
        <th>Number of Patients</th>
        <th>Percentage of Total Patients</th>
    </thead>
    <tbody>
<% for i in 0..@counts.length-1 do %>
    <tr>
		<td><%= @dates[i] %></td>
        <td><%= @counts[i] %></td>
        <td><%= number_to_percentage((@counts[i].to_f/@total.to_f)*100, precision: 2) %></td>
    </tr>
<% end %>
<tr>
	<td>TOTAL:</td>
	<td><%= @total %></td>
</tr>
    </tbody>
</table>
<br><br>
<a href= "<%= @main_route %>">Main Menu</a>
